<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13212157458-m329qvhi9mapf92e9o4ustfmpaqt639i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13212157458-m329qvhi9mapf92e9o4ustfmpaqt639i</string>
	<key>API_KEY</key>
	<string>AIzaSyDhIwHxE0pDMq84ymRRZADEogQRLwWLvMc</string>
	<key>GCM_SENDER_ID</key>
	<string>13212157458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourRightsFe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>traffic-rule-d97f6</string>
	<key>STORAGE_BUCKET</key>
	<string>traffic-rule-d97f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13212157458:ios:17703a850c3ed8bfba3acb</string>
</dict>
</plist>